<div class="homepage-banner">
  <div class="d-flex flex-column align-items-center">
    <div class="slogan-text-1">
      EASY
      <br>
    </div>
    <div class="slogan-text-2">
      &nbsp; &nbsp; PLANT
      <br>
      CARING
    </div>
  </div>
  <% if user_signed_in? == false %>
    <div class="home-form-style">
      <div class="errors-signup"></div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
        <%= f.error_notification %>
          <div class="form-inputs">
            <div class="row">
              <div class="form-item col-12">
                <%= f.input :email,
                        placeholder: 'hello@gmail.com',
                        error: 'You need to add a valid email',
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" },
                        class: 'form-item'%>
              </div>
            </div>
            <div class="row">
              <div class="form-item col-12">
                <%= f.input :first_name,
                          placeholder: 'Bruno',
                          error: 'You need to add a valid name',
                          required: true,
                          input_html: { autocomplete: "first_name" } %>
              </div>
            </div>
            <div class="row">
              <div class="form-item col-12">
                <%= f.input :phone,
                          placeholder: '5568030362',
                          error: 'You need to add a valid phone_number',
                          required: true,
                          input_html: { autocomplete: "phone" } %>
              </div>
            </div>
            <div class="row">
              <div class="form-item col-6 d-flex justify-content-end">
                <%= f.input :password,
                          placeholder: 'min 6 characters',
                          error: 'You need to add a valid password',
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              </div>
              <div class="form-item col-6 d-flex justify-content-end">
                <%= f.input :password_confirmation,
                          placeholder: 'min 6 characters',
                          error: 'You need to add the same password',
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-item col-12">
              <%= f.input :photo, as: :file %>
            </div>
          </div>
          <%= f.button :submit, "Sign up", class:"btn custombtn btn-block" %>
        <% end %>
        <div class="flex-column">
          <div class="col-12 d-flex justify-content-center" id="sign-in-paragraph">Already have an account?</div>
          <div class="col-12 d-flex justify-content-center"><button type="button" id="sign-in-btn" data-toggle="modal" data-target="#logInModal"> <strong>Log In</strong> </button></div>
        </div>
      </div>
      <div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                  <h2 class="col-12 d-flex justify-content-center" id="login-title-in-modal">Welcome back !</h2>
                </div>
                <div class="errors-in-modal"></div>
                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
                    <div class="form-inputs">
                      <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                          <%= f.input :email,
                                      required: true,
                                      autofocus: true,
                                      input_html: { autocomplete: "email" } %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                          <%= f.input :password,
                                      required: true,
                                      input_html: { autocomplete: "current-password" } %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12" id="remember-me-btn">
                          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 d-flex justify-content-center">
                          <%= f.button :submit, "Log in", class:"btn custombtn btn-block" %>
                      </div>
                    </div>
                  <% end %>
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center" id="password-recovery-btn-modal">
                      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="homepage-advertising">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-5">
        <div class="homepage-card">
          <div class="homepage-card-title">
            <h4><strong>IMPORT</strong></h4>
            <%= image_tag("upload.png", height: 32, width: 32, alt: "upload") %>
          </div>
          <div class="homepage-card-text">
            <p><strong><br>Import all your plants</strong> directly on your catalogue. Access it through an user user-friendly interface.<p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-5">
        <div class="homepage-card">
          <div class="homepage-card-title">
            <h4><strong>BROWSE</strong></h4>
            <%= image_tag("zoom.png", height: 32, width: 32, alt: "zoom") %>
          </div>
          <div class="homepage-card-text">
            <p><br>Use our <strong>huge database of plants</strong> to easily find some useful informations about your favorite vegetals.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-5">
        <div class="homepage-card">
          <div class="homepage-card-title">
            <h4><strong>LEARN</strong></h4>
            <%= image_tag("bulb.png", height: 32, width: 32, alt: "bulb") %>
          </div>
          <div class="homepage-card-text">
            <br><p>Use our selection of Youtube videos to <strong>learn the basics of plant caring</strong>. Easily accesible for beginners.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-5">
        <div class="homepage-card">
          <div class="homepage-card-title">
            <h4><strong>REMEMBER</strong></h4>
            <%= image_tag("calendar.png", height: 32, width: 32, alt: "calendar") %>
          </div>
          <div class="homepage-card-text">
            <br><p>Never loose a plant anymore ! <strong>Receive SMS for everything you need to do</strong> to maintain your plants healthy</p>
          </div>
        </div>
      </div>
    </div>
</div>


