<div class="banner">
  <div>
    <div class="slogan-text-1">
      EASY
      <br>
    </div>
    <div class="slogan-text-2">
      &nbsp; &nbsp; PLANT
      <br>
      CARING
    </div>
  </div>

  <% if user_signed_in? == false %>
    <div class="home-form-style">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
                <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
              </div>

              <div class="form-actions btn btn-primary btn-block custombtn">
                <%= f.button :submit, "Sign Up" %>
              </div>
      <% end %>
      <div class="btn btn-primary btn-block custombtn">
        <%= link_to "Already have an account ? Sign in !", user_session_path%>
      </div>
    </div>
  <% end %>
</div>



  <%# <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-6">

        <h2 class="d-flex justify-content-center">Log in</h2>


        <div class="d-flex justify-content-center">
          <%= render "devise/shared/links" %>
        <%# </div>

      </div>
    </div>
  </div>  %>

