<div class="banner-container">
  <div class="container p-4">
    <div class="mt-4 d-flex flex-row bd-highlight justify-content-between">
      <div class="mt-2 bd-highlight">
        <h1 class="catalogue-slogan-text">Add <br> &nbsp; &nbsp; &nbsp;a plant</h1>
    </div>
      <div class="m-4 bd-highlight flex-grow-1 ">
      <!-- search form -->
        <div class="d-flex ml-4">
          <div class="flex-fill bd-highligh mr-2">
            <%= form_tag plants_path, method: :get do %>
              <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find your plant"
              %></div>
              <div><%= submit_tag "Search", class: "btn btn-primary" %></div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <div class="row">
      <% @api_plants.each do |api_plant| %>
        <div class="col-4 mb-4">
          <div class="card myplantcard-add-plant">
            <img src="<%= api_plant.api_photo %>" class="img-fluid rounded" alt="Responsive image">
            <div class="text p-3">
              <h4><%= api_plant.name %></h4>
              <p><%= api_plant.family.name %></p>
              <%= link_to "Add to collection", new_plant_user_plant_path(api_plant), class: "btn custombtn btn-block" %>
            </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
