<div class="banner-container">
  <div class="container p-4">
    <div class="mt-4 d-flex flex-row bd-highlight justify-content-between">
      <div class="bd-highlight">
        <h1 class="mt-2 catalogue-slogan-text">My <br> &nbsp; &nbsp; catalogue</h1>
      </div>
    <!--  <div class="m-4 bd-highlight"><%= link_to "ADD A PLANT", plants_path, class: "btn mb-2" %></div>  -->
      <div class="m-4 bd-highlight flex-grow-1 ">
      <!-- search form -->
      <div class="d-flex ml-4">
        <div class="flex-fill bd-highligh mr-2">
          <%= form_tag user_plants_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find your plant"
            %></div>
        <div><%= submit_tag "Search", class: "btn btn-primary" %></div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @user_plants.each do |plant| %>
    <div class="col-4 mb-4">
      <div class="card-plant-container">
        <%= link_to plant, class: "card_link" do %>
        <div class="card myplantcard">
          <% if plant.photo.present?  %>
            <%= cl_image_tag plant.photo.key %>
          <% else %>
            <img src="<%= plant.plant.api_photo %>" class="img-fluid rounded-top" alt="Responsive image">
          <% end %>
          <div class="text p-3">
            <h4> <strong><%= plant.nickname.upcase %></strong> </h4>
            <p><%= plant.family.name %></p>
            <div class="d-flex icone">
              <div class="bd-highlight d-flex">
                <i class="fas fa-tint"></i>
                <p class="ml-1">Every <%= plant.plant.water_frequency %> days</p>
              </div>
              <div class="bd-highlight d-flex ml-3 mr-3">
                <i class="fas fa-sun"></i>
                <p class="ml-1"><%= plant.plant.light_frequency %>h/day</p>
              </div>
              <div class="bd-highlight d-flex">
                <i class="fas fa-seedling"></i>
                <p class="ml-1">Every <%= plant.plant.fertilizer_frequency %> months</p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <%= link_to "I killed my plant 🔪🌱", user_plant_path(plant), method: :delete, data: { confirm: "Really? Is your plant really dead?!" }, class: 'delete-plant-link  btn killedbtn' %>
      </div>
    </div>
    <% end %>
  </div>
</div>

