<div class="search-container">
  <div class="container p-4">
    <div class="mt-4 d-flex flex-row bd-highlight justify-content-between">
      <div class="bd-highlight">
        <h1 class="mt-2 catalogue-slogan-text">My <br> &nbsp; &nbsp; catalogue</h1>
      </div>
    <!--  <div class="m-4 bd-highlight"><%= link_to "ADD A PLANT", plants_path, class: "btn mb-2" %></div>  -->
      <div class="m-4 bd-highlight flex-grow-1 ">
      <!-- search form -->
      <div class="d-flex ml-4">
        <div class="flex-fill bd-highligh mr-2">
          <%= form_tag user_plants_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find your plant"
            %></div>
        <div><%= submit_tag "Search", class: "btn btn-primary" %></div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @user_plants.each do |plant| %>
      <div class="col-4 mb-4">
        <%= link_to plant, class: "card_link" do %>
          <div class="card myplantcard">
            <% if plant.photo.present?  %>
              <%= cl_image_tag plant.photo.key %>
            <% end %>
            <div class="text p-3">
              <h4><%= plant.nickname.upcase %></h4>
              <p><%= plant.family.name %></p>
              <div class="d-flex icone">
                <div class="bd-highlight "><i class="fas fa-tint">    Every <%= plant.plant.water_frequency %> days</i></div>
                <div class="bd-highlight mr-2 ml-2"><i class="fas fa-sun">    <%= plant.plant.light_frequency %>h/day</i></div>
                <div class="bd-highlight"><i class="fas fa-seedling">    Every <%= plant.plant.fertilizer_frequency %> months</i></div>
              </div>
              <button class="btn custombtn mt-3 killed-btn", data-url=" <%= user_plant_path(plant) %>">I killed my plant 😱</button>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'killed_btn' %>
