<div class="container mt-4 p-4">
  <div class="d-flex flex-row bd-highlight justify-content-between">
    <div class="m-4 bd-highlight"> <h1>Add new plant</h1></div>
    <div class="m-4 bd-highlight flex-grow-1 ">

    <!-- search form -->
      <div class="d-flex ml-4">
        <div class="flex-fill bd-highligh mr-2">
          <%= form_tag new_user_plant_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find you plant"
            %></div>
            <div><%= submit_tag "Search", class: "btn btn-primary" %></div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div>
        <% @api_plants.each do |api_plant| %>
          <h4><%= api_plant.name %></h4>
          <p><%= api_plant.family.name %></p>
          <%# <%= api_plant.photo.key %>
          <a href="#">Add plant</a>
        <% end %>
      </div>
    </div>
  </div>
</div>
